<?php
$url['newUser'] = $this->url('mv-user/default', ['action' => 'form', 'controller' => 'index']);
?>
<!--Título-->
<md-toolbar md-scroll-shrink class="md-accent">
  <div class="md-toolbar-tools">
    <h2 class="md-title">
      <md-icon>settings</md-icon>
      <span class="divider">/</span>
      <md-icon>person</md-icon>
      Usuários
    </h2>
  </div>
</md-toolbar>

<!--Abas de navegação-->
<md-tabs md-dynamic-height md-border-bottom md-selected="2">
  <md-tab>
    <md-tab-label>
      <md-icon>list</md-icon>
      <span hide-sm>Listar</span>
    </md-tab-label>
    <md-content class="md-padding">
      <mv-user-list></mv-user-list>
    </md-content>
  </md-tab>

  <md-tab>
    <md-tab-label>
      <md-icon>search</md-icon>
      <span hide-sm>Buscar</span>
    </md-tab-label>
    <md-content class="md-padding">
      <md-input-container>
        <label for="search">Qual o nome do usuário</label>
        <input type="text" name="search">
      </md-input-container>

      <mv-user-list search="vm.search">

      </mv-user-list>
    </md-content>
  </md-tab>

  <md-tab>
    <md-tab-label>
      <md-icon>person_add</md-icon>
      <span hide-sm>Novo</span>
    </md-tab-label>
    <md-content class="md-padding">
      <mv-user-form></mv-user-form>
    </md-content>
  </md-tab>
</md-tabs>
