<form name="mvUserForm" novalidate layout="column" flex>

  <!-- Login  -->

  <h1 class="md-title">
    <md-icon>lock</md-icon>
    <span hide-sm>Login</span>
  </h1>

  <h2 class="md-subhead">Autenticação</h2>

  <!-- Campos de usuário-->
  <md-input-container flex>
    <label for="credential">Credencial</label>
    <input type="text" name="credential">
  </md-input-container>

  <md-input-container flex>
    <label for="password">Senha</label>
    <input type="password" name="password">
  </md-input-container>
  <md-input-container flex>
    <label>Ativação de usuário</label>
  </md-input-container>
  <md-list>
    <md-list-item>
      <p>
        <span ng-show="user.active">Ativado</span>
        <span ng-hide="user.active">Desativado</span>
      </p>
      <md-switch ng-model="user.active" aria-label="Ativação"></md-switch>
    </md-list-item>
  </md-list>

  <md-input-container>
    <label>Chave de ativação</label>
    <input type="text" name="activation_key" ng-model="activation_key">
  </md-input-container>

  <h1 class="md-title">
    <md-icon>person</md-icon>
    <span hide-sm>Perfil</span>
  </h1>

  <h2 class="md-subhead">Dados pessoais</h2>

  <div layout-gt-sm="row">
    <md-input-container flex flex-gt-sm="66">
      <label for="name">Nome</label>
      <input type="text" name="name">
    </md-input-container>

    <md-input-container flex flex-gt-sm="33">
      <label for="birthday">Data de Nascimento</label>
      <input type="date" name="birthday">
    </md-input-container>
  </div>

  <div layout-gt-sm="row">
    <md-input-container flex>
      <label for="birth_place">Naturalidade</label>
      <input type="text" name="birth_place">
    </md-input-container>

    <md-input-container flex>
      <label for="nationality">Nacionalidade</label>
      <input type="text" name="nationality">
    </md-input-container>
  </div>

  <h2 class="md-subhead">Endereço</h2>

  <div layout-gt-sm="row">
    <md-input-container flex flex-gt-sm="66">
      <label for="address_street">Rua</label>
      <input type="text" name="address_street">
    </md-input-container>

    <md-input-container flex flex-gt-sm="33">
      <label for="address_number">Número</label>
      <input type="text" name="address_number">
    </md-input-container>
  </div>
  <div layout-gt-sm="row">
    <md-input-container flex flex-gt-sm="66">
      <label for="address_district">Bairro (Setor)</label>
      <input type="text" name="address_district">
    </md-input-container>
    <md-input-container flex flex-gt-sm="33">
      <label for="postal_code">CEP</label>
      <input type="text" name="postal_code">
    </md-input-container>
  </div>

  <div layout-gt-sm="row">
    <md-input-container flex>
      <label for="city">Cidade</label>
      <input type="text" name="city">
    </md-input-container>

    <md-input-container flex>
      <label for="state">Estado</label>
      <input type="text" name="state">
    </md-input-container>

    <md-input-container flex>
      <label for="country">País</label>
      <input type="text" name="country">
    </md-input-container>
  </div>


  <h1 class="md-title">
    <md-icon>contacts</md-icon>
    <span hide-sm>Contato</span>
  </h1>

  <h2 class="md-subhead">Telefones</h2>

  <md-input-container flex>
    <label for="phone_personal">Pessoal</label>
    <input type="tel" name="phone_personal">
  </md-input-container>

  <md-input-container flex>
    <label for="phone_home">Domiciliar</label>
    <input type="tel" name="phone_home">
  </md-input-container>

  <md-input-container flex>
    <label for="phone_work">Trabalho</label>
    <input type="tel" name="phone_work">
  </md-input-container>

  <h2 class="md-subhead">Social</h2>

  <md-input-container flex>
    <label for="sociallinks_facebook">Facebook</label>
    <input type="text" name="sociallinks_facebook">
  </md-input-container>
  <md-input-container flex>
    <label for="sociallinks_googleplus">Google Plus</label>
    <input type="text" name="sociallinks_googleplus">
  </md-input-container>
  <md-input-container flex>
    <label for="sociallinks_twitter">Twitter</label>
    <input type="text" name="sociallinks_twitter">
  </md-input-container>
  <md-input-container flex>
    <label for="sociallinks_hangout">Twitter</label>
    <input type="text" name="sociallinks_hangout">
  </md-input-container>

</form>
