<md-list md-no-ink>
  <md-list-item class="md-2-line" ng-repeat="user in vm.list" ng-click="vm.edit(user.id)">
    <img ng-src="http://cabuloso.xpg.uol.com.br/portal/images/profiles/353397.jpg" class="md-avatar" alt="user.name" />
    <div class="md-list-item-text">
      <h3>{{user.name}}</h3>
      <p>{{user.email}}</p>
    </div>
    <md-switch ng-model="user.ativo" aria-label="Ativação">
      <div hide-sm>
        <span ng-show="user.ativo">Ativado</span>
        <span ng-hide="user.ativo">Desativado</span>
      </div>
    </md-switch>
  </md-list-item>
</md-list>
