<?php echo $this->doctype(); ?>
<html lang="en">
<head>
  <meta charset="utf-8">
  <?php echo $this->headTitle('ZF2 ' . $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

  <?php echo $this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
  ?>

  <!-- Le styles -->
  <?php echo $this->headLink()
    ->prependStylesheet($this->basePath('app/css/vendor.css'))
    ->prependStylesheet($this->basePath('app/css/style.css')) ?>

  <?php echo $this->headScript(); ?>
</head>

<body layout="row"
      ng-app="MyApp"
      ng-cloak
      ng-controller="MvAppCtrl as App">

<md-sidenav class="md-sidenav-left md-whiteframe-z3"  flex
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')">
  <md-list>
    <md-item>
      <md-item-text>Lorem </md-item-text>
    </md-item>
  </md-list>
</md-sidenav>
<md-content layout="column" flex>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" hide-gt-sm
                 ng-click="App.openLeftMenu()">
        <md-icon>menu</md-icon>
      </md-button>
      <h2>
        <span>MV APP</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Perfil">
        <md-tooltip>Perfil</md-tooltip>
        <md-icon>person</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Mensageiro">
        <md-tooltip>Mensageiro</md-tooltip>
        <md-icon>chat</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Settings">
        <md-tooltip>Settings</md-tooltip>
        <md-icon>settings</md-icon>
      </md-button>
    </div>
    <!--  <md-progress-linear md-mode="indeterminate"></md-progress-linear>-->
  </md-toolbar>
  <?php echo $this->content ?>
</md-content>


<?php echo $this->inlineScript()
  ->prependFile($this->basePath('app/js/vendor.js'))
  ->appendFile($this->basePath('app/js/script.js')); ?>
</body>
</html>
